
<p>
  <b>Style Sku:</b>
  <%= @style.sku %>
</p>

<p>
  <b>Manufactured:</b>
  <%= @style.dom %>
</p>

<p>
  <b>Resource:</b>
  <%= @style.resource %>
</p>

<p>
  <b>Stock</b>
  <%= @style.stock %>
</p>

 <%#= @product.inspect %>

<%= link_to 'Back',styles_path %>











