<!DOCTYPE html>
<html>
<head>
  <title>Relayfan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path,:class => 'btn btn-mini btn-danger',:method => :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path,:class => 'btn btn-mini btn-primary' %>
<% end %>

</body>
</html>
